<app-header></app-header>

<div class="content">
  <h2 class="mb-2 lh-sm">all taxis</h2>
  <p class="text-body-tertiary lead mb-2">
    heres all the taxis working with us.
  </p>
  <button
    class="btn btn-primary"
    type="button"
    data-bs-toggle="modal"
    data-bs-target="#exampleModal">add taxi</button>
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">add taxi</h5>
          <button
            class="btn p-1"
            type="button"
            data-bs-dismiss="modal"
            aria-label="Close"
          >
            <span class="fas fa-times fs-9"></span>
          </button>
        </div>
        <div class="modal-body">
          <app-addtaxi></app-addtaxi>
        </div>
        <div class="modal-footer">
          <button
            class="btn btn-outline-primary"
            type="button"
            data-bs-dismiss="modal"
          >
            Cancel
          </button>
        </div>
      </div>
    </div>
  </div>




  <div id="tableExample3" data-list="{&quot;valueNames&quot;:[&quot;name&quot;,&quot;email&quot;,&quot;age&quot;],&quot;page&quot;:5,&quot;pagination&quot;:true}">
    <div class="search-box mb-3 mx-auto">
      <form class="position-relative" data-bs-toggle="search" data-bs-display="static"><input class="form-control search-input search form-control-sm" type="search" placeholder="Search" aria-label="Search">

      </form>
    </div>
    <div class="table-responsive">
      <table class="table table-striped table-sm fs-9 mb-0">
        <thead>
          <tr>

            <th class="sort border-top border-translucent ps-3" data-sort="name">fullname</th>
            <th class="sort border-top" data-sort="email">Email</th>
            <th class="sort border-top" data-sort="age">phoneNumber</th>
            <th class="sort border-top" data-sort="age">homeAdress</th>
            <th class="sort border-top" data-sort="age">Numberplate</th>
            <th class="sort border-top" data-sort="age">matricule</th>
            <th class="sort border-top" data-sort="age">carModel</th>
            <th class="sort border-top" data-sort="age">status</th>

            <th class="sort text-end align-middle pe-0 border-top" scope="col">ACTION</th>
          </tr>
        </thead>
        <tbody class="list"  *ngFor="let taxi of taxis"><tr>
    
          <td class="align-middle ps-3 name">{{taxi.fullName}}</td>
            <td class="align-middle email">{{taxi.email}}</td>
            <td class="align-middle age">{{taxi.homeAdress}}</td>
            <td class="align-middle age">{{taxi.phoneNumber}}</td>
            <td class="align-middle age">{{taxi.Numberplate}}</td>
            <td class="align-middle age">{{taxi.carModel}}</td>

            <td class="align-middle age">{{taxi.status}}</td>

            <td class="align-middle white-space-nowrap text-end pe-0">
              <div class="btn-reveal-trigger position-static"><button class="btn btn-sm dropdown-toggle dropdown-caret-none transition-none btn-reveal fs-10" type="button" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true" aria-expanded="false" data-bs-reference="parent"><svg class="svg-inline--fa fa-ellipsis fs-10" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="ellipsis" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M120 256C120 286.9 94.93 312 64 312C33.07 312 8 286.9 8 256C8 225.1 33.07 200 64 200C94.93 200 120 225.1 120 256zM280 256C280 286.9 254.9 312 224 312C193.1 312 168 286.9 168 256C168 225.1 193.1 200 224 200C254.9 200 280 225.1 280 256zM328 256C328 225.1 353.1 200 384 200C414.9 200 440 225.1 440 256C440 286.9 414.9 312 384 312C353.1 312 328 286.9 328 256z"></path></svg><!-- <span class="fas fa-ellipsis-h fs-10"></span> Font Awesome fontawesome.com --></button>
                <div class="dropdown-menu dropdown-menu-end py-2"><a class="dropdown-item" href="#!">View</a><a class="dropdown-item" href="#!">Export</a>
                  <div class="dropdown-divider"></div><a class="dropdown-item text-danger" href="#!">Remove</a>
                </div>
              </div>
            </td>
          </tr>
   </tbody>
      </table>
    </div>
    <div class="d-flex justify-content-between mt-3"><span class="d-none d-sm-inline-block" data-list-info="data-list-info">1 to 5 <span class="text-body-tertiary"> Items of </span>43</span>
      <div class="d-flex"><button class="page-link disabled" data-list-pagination="prev" disabled=""><svg class="svg-inline--fa fa-chevron-left" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-left" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" data-fa-i2svg=""><path fill="currentColor" d="M224 480c-8.188 0-16.38-3.125-22.62-9.375l-192-192c-12.5-12.5-12.5-32.75 0-45.25l192-192c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25L77.25 256l169.4 169.4c12.5 12.5 12.5 32.75 0 45.25C240.4 476.9 232.2 480 224 480z"></path></svg><!-- <span class="fas fa-chevron-left"></span> Font Awesome fontawesome.com --></button>
        <ul class="mb-0 pagination"><li class="active"><button class="page" type="button" data-i="1" data-page="5">1</button></li><li><button class="page" type="button" data-i="2" data-page="5">2</button></li><li><button class="page" type="button" data-i="3" data-page="5">3</button></li><li class="disabled"><button class="page" type="button">...</button></li></ul><button class="page-link pe-0" data-list-pagination="next"><svg class="svg-inline--fa fa-chevron-right" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" data-fa-i2svg=""><path fill="currentColor" d="M96 480c-8.188 0-16.38-3.125-22.62-9.375c-12.5-12.5-12.5-32.75 0-45.25L242.8 256L73.38 86.63c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0l192 192c12.5 12.5 12.5 32.75 0 45.25l-192 192C112.4 476.9 104.2 480 96 480z"></path></svg><!-- <span class="fas fa-chevron-right"></span> Font Awesome fontawesome.com --></button>
      </div>
    </div>
  </div>

  <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 5">
    <div
      class="toast align-items-center text-white bg-dark border-0"
      id="icon-copied-toast"
      role="alert"
      aria-live="assertive"
      aria-atomic="true"
    >
      <div class="d-flex" data-bs-theme="dark">
        <div class="toast-body p-3"></div>
        <button
          class="btn-close me-2 m-auto"
          type="button"
          data-bs-dismiss="toast"
          aria-label="Close"
        ></button>
      </div>
    </div>
  </div>
  <footer class="footer position-absolute">
    <div class="row g-0 justify-content-between align-items-center h-100">
      <div class="col-12 col-sm-auto text-center">
        <p class="mb-0 mt-2 mt-sm-0 text-body">
          Thank you for creating with Phoenix<span
            class="d-none d-sm-inline-block"
          ></span
          ><span class="d-none d-sm-inline-block mx-1">|</span
          ><br class="d-sm-none" />2023 &copy;<a
            class="mx-1"
            href="https://themewagon.com/"
            >Themewagon</a
          >
        </p>
      </div>
      <div class="col-12 col-sm-auto text-center">
        <p class="mb-0 text-body-tertiary text-opacity-85">v1.14.0</p>
      </div>
    </div>
  </footer>
</div>
<div class="support-chat-container">
  <div class="container-fluid support-chat">
    <div class="card bg-body-emphasis">
      <div
        class="card-header d-flex flex-between-center px-4 py-3 border-bottom border-translucent"
      >
        <h5 class="mb-0 d-flex align-items-center gap-2">
          Demo widget<span class="fa-solid fa-circle text-success fs-11"></span>
        </h5>
        <div class="btn-reveal-trigger">
          <button
            class="btn btn-link p-0 dropdown-toggle dropdown-caret-none transition-none d-flex"
            type="button"
            id="support-chat-dropdown"
            data-bs-toggle="dropdown"
            data-boundary="window"
            aria-haspopup="true"
            aria-expanded="false"
            data-bs-reference="parent"
          >
            <span class="fas fa-ellipsis-h text-body"></span>
          </button>
          <div
            class="dropdown-menu dropdown-menu-end py-2"
            aria-labelledby="support-chat-dropdown"
          >
            <a class="dropdown-item" href="#!">Request a callback</a
            ><a class="dropdown-item" href="#!">Search in chat</a
            ><a class="dropdown-item" href="#!">Show history</a
            ><a class="dropdown-item" href="#!">Report to Admin</a
            ><a class="dropdown-item btn-support-chat" href="#!"
              >Close Support</a
            >
          </div>
        </div>
      </div>
      <div class="card-body chat p-0">
        <div class="d-flex flex-column-reverse scrollbar h-100 p-3">
          <div class="text-end mt-6">
            <a
              class="mb-2 d-inline-flex align-items-center text-decoration-none text-body-emphasis bg-body-hover rounded-pill border border-primary py-2 ps-4 pe-3"
              href="#!"
            >
              <p class="mb-0 fw-semibold fs-9">I need help with something</p>
              <span
                class="fa-solid fa-paper-plane text-primary fs-9 ms-3"
              ></span> </a
            ><a
              class="mb-2 d-inline-flex align-items-center text-decoration-none text-body-emphasis bg-body-hover rounded-pill border border-primary py-2 ps-4 pe-3"
              href="#!"
            >
              <p class="mb-0 fw-semibold fs-9">
                I can’t reorder a product I previously ordered
              </p>
              <span
                class="fa-solid fa-paper-plane text-primary fs-9 ms-3"
              ></span> </a
            ><a
              class="mb-2 d-inline-flex align-items-center text-decoration-none text-body-emphasis bg-body-hover rounded-pill border border-primary py-2 ps-4 pe-3"
              href="#!"
            >
              <p class="mb-0 fw-semibold fs-9">How do I place an order?</p>
              <span
                class="fa-solid fa-paper-plane text-primary fs-9 ms-3"
              ></span> </a
            ><a
              class="false d-inline-flex align-items-center text-decoration-none text-body-emphasis bg-body-hover rounded-pill border border-primary py-2 ps-4 pe-3"
              href="#!"
            >
              <p class="mb-0 fw-semibold fs-9">My payment method not working</p>
              <span
                class="fa-solid fa-paper-plane text-primary fs-9 ms-3"
              ></span>
            </a>
          </div>
          <div class="text-center mt-auto">
            <div class="avatar avatar-3xl status-online">
              <img
                class="rounded-circle border border-3 border-light-subtle"
                src="../../assets/img/team/30.webp"
                alt=""
              />
            </div>
            <h5 class="mt-2 mb-3">Eric</h5>
            <p class="text-center text-body-emphasis mb-0">
              Ask us anything – we’ll get back to you here or by email within 24
              hours.
            </p>
          </div>
        </div>
      </div>
      <div
        class="card-footer d-flex align-items-center gap-2 border-top border-translucent ps-3 pe-4 py-3"
      >
        <div
          class="d-flex align-items-center flex-1 gap-3 border border-translucent rounded-pill px-4"
        >
          <input
            class="form-control outline-none border-0 flex-1 fs-9 px-0"
            type="text"
            placeholder="Write message"
          /><label
            class="btn btn-link d-flex p-0 text-body-quaternary fs-9 border-0"
            for="supportChatPhotos"
            ><span class="fa-solid fa-image"></span></label
          ><input
            class="d-none"
            type="file"
            accept="image/*"
            id="supportChatPhotos"
          /><label
            class="btn btn-link d-flex p-0 text-body-quaternary fs-9 border-0"
            for="supportChatAttachment"
          >
            <span class="fa-solid fa-paperclip"></span></label
          ><input class="d-none" type="file" id="supportChatAttachment" />
        </div>
        <button class="btn p-0 border-0 send-btn">
          <span class="fa-solid fa-paper-plane fs-9"></span>
        </button>
      </div>
    </div>
  </div>
  <button class="btn p-0 border border-translucent btn-support-chat">
    <span class="fs-8 btn-text text-primary text-nowrap">Chat demo</span
    ><span class="fa-solid fa-circle text-success fs-9 ms-2"></span
    ><span class="fa-solid fa-chevron-down text-primary fs-7"></span>
  </button>
</div>
