<app-header></app-header>
  <div class="content">
  <form>
  <div class="mb-3">
    <label class="form-label" for="basic-form-name">Company Name</label>
    <input class="form-control" id="basic-form-name" type="text" placeholder="Company Name" />
  </div>
  <div class="mb-3">
    <label class="form-label" for="basic-form-email">mainAdress</label>
    <input class="form-control" id="basic-form-email" type="text" placeholder="mainAdress" />
  </div>
  <div class="mb-3">
    <label class="form-label" for="basic-form-password">phoneNumber</label>
    <input class="form-control" id="basic-form-password" type="text" placeholder="phoneNumber" />
  </div>
  <div class="mb-3">
    <label class="form-label" for="basic-form-email">email</label>
    <input class="form-control" id="basic-form-email" type="email" placeholder="example@example.com" />
  </div>
  <div class="mb-3">
    <label class="form-label" for="basic-form-dob">representant</label>
    <input class="form-control" id="basic-form-dob" type="text" />
  </div>


  <div class="mb-3">
    <label class="form-label" for="basic-form-textarea">Description</label>
    <textarea class="form-control" id="basic-form-textarea" rows="3" placeholder="Description"></textarea>
  </div>

  <button class="btn btn-primary" type="submit">Submit</button>
</form>
</div>
