<app-header></app-header>
<div class="content">

  <div class="pb-9">
    <div class="row">
      <div class="col-12">
        <div class="row align-items-center justify-content-between g-3 mb-3">
          <div class="col-12 col-md-auto">
            <h2 class="mb-0">company details</h2>
          </div>
          <div class="col-12 col-md-auto">
            <!--<div class="d-flex">
              <div class="flex-1 d-md-none"><button class="btn px-3 btn-phoenix-secondary text-body-tertiary me-2" data-phoenix-toggle="offcanvas" data-phoenix-target="#productFilterColumn"><span class="fa-solid fa-bars"></span></button></div><button class="btn btn-primary me-2"><span class="fa-solid fa-envelope me-2"></span><span>Send an email</span></button><button class="btn btn-phoenix-secondary px-3 px-sm-5 me-2"><span class="fa-solid fa-thumbtack me-sm-2"></span><span class="d-none d-sm-inline">Shortlist</span></button><button class="btn px-3 btn-phoenix-secondary" type="button" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true" aria-expanded="false" data-bs-reference="parent"><span class="fa-solid fa-ellipsis"></span></button>
              <ul class="dropdown-menu dropdown-menu-end p-0" style="z-index: 9999;">
                <li><a class="dropdown-item" href="#!">View profile</a></li>
                <li><a class="dropdown-item" href="#!">Report</a></li>
                <li><a class="dropdown-item" href="#!">Manage notifications</a></li>
                <li><a class="dropdown-item text-danger" href="#!">Delete Lead</a></li>
              </ul>
            </div>-->
          </div>
        </div>
      </div>
    </div>
    <div class="row g-0 g-md-4 g-xl-6">
      <div class="col-md-5 col-lg-5 col-xl-4">
        <div class="sticky-leads-sidebar">
          <div class="lead-details-offcanvas bg-body scrollbar phoenix-offcanvas phoenix-offcanvas-fixed" id="productFilterColumn">
            <div class="d-flex justify-content-between align-items-center mb-2 d-md-none">
            </div>

            <div class="card mb-3">
              <div class="card-body">
                <div class="d-flex align-items-center mb-5">
                  <h3>About </h3><button class="btn btn-link px-3" type="button">Edit</button>
                </div>
                <div class="mb-4">
                  <div class="d-flex align-items-center mb-1"><span class="me-2 uil uil-envelope-alt">  </span>
                    <h5 class="text-body-highlight mb-0">Email</h5>
                  </div><a href="mailto:shatinon@jeemail.com:">{{company.email}}</a>
                </div>
                <div class="mb-4">
                  <div class="d-flex align-items-center mb-1"><span class="me-2 uil uil-phone"> </span>
                    <h5 class="text-body-highlight mb-0">Phone</h5>
                  </div><a href="tel:+1234567890">{{company.phoneNumber}} </a>
                </div>
                <div class="mb-4">
                  <div class="d-flex align-items-center mb-1"><span class="me-2 uil uil-globe"></span>
                    <h5 class="text-body-highlight mb-0">main address</h5>
                  </div><a href="#!">{{company.mainAdress}}  </a>
                </div>
                <div class="mb-4">
                  <div class="d-flex align-items-center mb-1"><span class="me-2 uil uil-building"></span>
                    <h5 class="text-body-highlight mb-0">Industry</h5>
                  </div>
                  <p class="mb-0 text-body-secondary">Large Enterprise</p>
                </div>
                <div class="mb-4">
                  <div class="d-flex align-items-center mb-1"><span class="me-2 uil uil-postcard"></span>
                    <h5 class="text-body-highlight mb-0">Number of employees</h5>
                  </div>
                  <p class="mb-0 text-body-secondary">126</p>
                </div>
                <div class="mb-4">
                  <div class="d-flex align-items-center mb-1"><span class="me-2 uil uil-dollar-alt"></span>
                    <h5 class="text-body-highlight mb-0">Annual Revenue</h5>
                  </div>
                  <p class="mb-0 text-body-secondary">$12000 </p>
                </div>
                <div class="mb-4">
                  <div class="d-flex align-items-center mb-1"><span class="me-2 uil uil-clock"></span>
                    <h5 class="text-body-highlight mb-0">Last contacted</h5>
                  </div>
                  <p class="mb-0 text-body-secondary">12 November 2021, 10:54 AM</p>
                </div>
                <div class="mb-4">
                  <div class="d-flex align-items-center mb-1"><span class="me-2 uil uil-file-check-alt"></span>
                    <h5 class="text-body-highlight mb-0">Lead source</h5>
                  </div>
                  <p class="mb-0 text-body-secondary">Advertisement</p>
                </div>
                <div>
                  <div class="d-flex align-items-center mb-1"><span class="me-2 uil uil-check-circle"></span>
                    <h5 class="text-body-highlight mb-0">Lead status</h5>
                  </div><span class="badge badge-phoenix badge-phoenix-primary">New Lead</span>
                </div>
              </div>
            </div>
            <div class="card mb-3">
              <div class="card-body">
                <div class="d-flex align-items-center mb-5">
                  <h3>Address</h3><button class="btn btn-link" type="button">Edit</button>
                </div>
                <div class="mb-4">
                  <div class="d-flex align-items-center mb-1"><span class="me-2 uil uil-estate"></span>
                    <h5 class="mb-0">Street</h5>
                  </div>
                  <p class="mb-0 text-body-secondary">38/2 Penelope street</p>
                </div>
                <div class="mb-4">
                  <div class="d-flex align-items-center mb-1"><span class="me-2 uil uil-map-pin-alt"></span>
                    <h5 class="mb-0 text-body-highlight">Zip code</h5>
                  </div>
                  <p class="mb-0 text-body-secondary">1425</p>
                </div>
                <div class="mb-4">
                  <div class="d-flex align-items-center mb-1"><span class="me-2 uil uil-map"></span>
                    <h5 class="mb-0 text-body-highlight">City</h5>
                  </div>
                  <p class="mb-0 text-body-secondary">Qualimando</p>
                </div>
                <div>
                  <div class="d-flex align-items-center mb-1"><span class="me-2 uil uil-windsock"></span>
                    <h5 class="mb-0 text-body-highlight">Country</h5>
                  </div>
                  <p class="mb-0 text-body-secondary">United Empire of Brekania</p>
                </div>
              </div>
            </div>
          </div>
          <div class="phoenix-offcanvas-backdrop d-lg-none top-0" data-phoenix-backdrop="data-phoenix-backdrop"></div>
        </div>
      </div>
      <div class="col-md-7 col-lg-7 col-xl-8">
        <div class="lead-details-container">
          <nav class="navbar pb-4 px-0 sticky-top bg-body nav-underline-scrollspy" id="navbar-deals-detail">
            <ul class="nav nav-underline fs-9">
              <li class="nav-item"><a class="nav-link me-2" href="#scrollspyTask">Departments</a></li>
              <li class="nav-item"><a class="nav-link me-2" href="#scrollspyDeals">employees</a></li>

            </ul>
          </nav>
          <div class="scrollspy-example rounded-2" data-bs-spy="scroll" data-bs-offset="0" data-bs-target="#navbar-deals-detail" data-bs-root-margin="0px 0px -40%" data-bs-smooth-scroll="true" tabindex="0">
            <div class="mb-8">
              <h2 class="mb-4" id="scrollspyTask">Departments</h2>
              <div class="row align-items-center g-0 justify-content-start mb-3">
                <div class="col-12 col-sm-auto">
                  <div class="search-box w-100 mb-2 mb-sm-0" style="max-width:30rem;">
                    <form class="position-relative" data-bs-toggle="search" data-bs-display="static"><input class="form-control search-input search" type="search" placeholder="Search tasks" aria-label="Search" />
                      <span class="fas fa-search search-box-icon"></span>
                    </form>
                  </div>
                </div>
                <div class="col-auto d-flex">
                  <p class="mb-0 ms-sm-3 fs-9 text-body-tertiary fw-bold"><span class="fas fa-filter me-1 fw-extra-bold fs-10"></span>23 tasks</p><button class="btn btn-link p-0 ms-3 fs-9 text-primary fw-bold"><span class="fas fa-sort me-1 fw-extra-bold fs-10"></span>Sorting</button>
                </div>
              </div>
              <div class="row justify-content-between align-items-md-center hover-actions-trigger btn-reveal-trigger border-translucent py-3 gx-0 border-top">
                <div class="col-12 col-lg-auto flex-1">
                  <div data-todo-offcanvas-toogle="data-todo-offcanvas-toogle" data-todo-offcanvas-target="todoOffcanvas-1">
                    <div class="form-check mb-1 mb-md-0 d-flex align-items-center lh-1"><input class="form-check-input flex-shrink-0 form-check-line-through mt-0 me-2 form-check-input-undefined" type="checkbox" id="checkbox-todo-0" /><label class="form-check-label mb-0 fs-8 me-2 line-clamp-1" for="checkbox-todo-0">Platforms for data administration</label></div>
                  </div>
                </div>
                <div class="col-12 col-lg-auto">
                  <div class="d-flex ms-4 lh-1 align-items-center">
                    <p class="text-body-tertiary fs-10 mb-md-0 me-2 me-lg-3 mb-0">19 Nov, 2022</p>
                    <div class="d-none d-lg-block end-0 position-absolute" style="top: 23%;">
                      <div class="hover-actions end-0"><button class="btn btn-phoenix-secondary btn-icon me-1 fs-10 text-body px-0 me-1"><span class="fas fa-edit"></span></button><button class="btn btn-phoenix-secondary btn-icon fs-10 text-danger px-0"><span class="fas fa-trash"></span></button></div>
                    </div>
                    <div class="hover-lg-hide">
                      <p class="text-body-tertiary fs-10 ps-lg-3 border-start-lg fw-bold mb-md-0 mb-0">11:56 PM</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row justify-content-between align-items-md-center hover-actions-trigger btn-reveal-trigger border-translucent py-3 gx-0 border-top">
                <div class="col-12 col-lg-auto flex-1">
                  <div data-todo-offcanvas-toogle="data-todo-offcanvas-toogle" data-todo-offcanvas-target="todoOffcanvas-2">
                    <div class="form-check mb-1 mb-md-0 d-flex align-items-center lh-1"><input class="form-check-input flex-shrink-0 form-check-line-through mt-0 me-2 form-check-input-undefined" type="checkbox" id="checkbox-todo-1" /><label class="form-check-label mb-0 fs-8 me-2 line-clamp-1" for="checkbox-todo-1">Make wiser business choices.</label></div>
                  </div>
                </div>
                <div class="col-12 col-lg-auto">
                  <div class="d-flex ms-4 lh-1 align-items-center">
                    <p class="text-body-tertiary fs-10 mb-md-0 me-2 me-lg-3 mb-0">05 Nov, 2022</p>
                    <div class="d-none d-lg-block end-0 position-absolute" style="top: 23%;">
                      <div class="hover-actions end-0"><button class="btn btn-phoenix-secondary btn-icon me-1 fs-10 text-body px-0 me-1"><span class="fas fa-edit"></span></button><button class="btn btn-phoenix-secondary btn-icon fs-10 text-danger px-0"><span class="fas fa-trash"></span></button></div>
                    </div>
                    <div class="hover-lg-hide">
                      <p class="text-body-tertiary fs-10 ps-lg-3 border-start-lg fw-bold mb-md-0 mb-0">09:30 PM</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row justify-content-between align-items-md-center hover-actions-trigger btn-reveal-trigger border-translucent py-3 gx-0 border-top">
                <div class="col-12 col-lg-auto flex-1">
                  <div data-todo-offcanvas-toogle="data-todo-offcanvas-toogle" data-todo-offcanvas-target="todoOffcanvas-3">
                    <div class="form-check mb-1 mb-md-0 d-flex align-items-center lh-1"><input class="form-check-input flex-shrink-0 form-check-line-through mt-0 me-2 form-check-input-undefined" type="checkbox" id="checkbox-todo-2" /><label class="form-check-label mb-0 fs-8 me-2 line-clamp-1" for="checkbox-todo-2">Market and consumer insights</label></div>
                  </div>
                </div>
                <div class="col-12 col-lg-auto">
                  <div class="d-flex ms-4 lh-1 align-items-center">
                    <p class="text-body-tertiary fs-10 mb-md-0 me-2 me-lg-3 mb-0">02 Nov, 2022</p>
                    <div class="d-none d-lg-block end-0 position-absolute" style="top: 23%;">
                      <div class="hover-actions end-0"><button class="btn btn-phoenix-secondary btn-icon me-1 fs-10 text-body px-0 me-1"><span class="fas fa-edit"></span></button><button class="btn btn-phoenix-secondary btn-icon fs-10 text-danger px-0"><span class="fas fa-trash"></span></button></div>
                    </div>
                    <div class="hover-lg-hide">
                      <p class="text-body-tertiary fs-10 ps-lg-3 border-start-lg fw-bold mb-md-0 mb-0">05:25 AM</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row justify-content-between align-items-md-center hover-actions-trigger btn-reveal-trigger border-translucent py-3 gx-0 border-top">
                <div class="col-12 col-lg-auto flex-1">
                  <div data-todo-offcanvas-toogle="data-todo-offcanvas-toogle" data-todo-offcanvas-target="todoOffcanvas-4">
                    <div class="form-check mb-1 mb-md-0 d-flex align-items-center lh-1"><input class="form-check-input flex-shrink-0 form-check-line-through mt-0 me-2 form-check-input-undefined" type="checkbox" id="checkbox-todo-3" /><label class="form-check-label mb-0 fs-8 me-2 line-clamp-1" for="checkbox-todo-3">Dashboards for business insights</label></div>
                  </div>
                </div>
                <div class="col-12 col-lg-auto">
                  <div class="d-flex ms-4 lh-1 align-items-center">
                    <p class="text-body-tertiary fs-10 mb-md-0 me-2 me-lg-3 mb-0">29 Oct, 2022</p>
                    <div class="d-none d-lg-block end-0 position-absolute" style="top: 23%;">
                      <div class="hover-actions end-0"><button class="btn btn-phoenix-secondary btn-icon me-1 fs-10 text-body px-0 me-1"><span class="fas fa-edit"></span></button><button class="btn btn-phoenix-secondary btn-icon fs-10 text-danger px-0"><span class="fas fa-trash"></span></button></div>
                    </div>
                    <div class="hover-lg-hide">
                      <p class="text-body-tertiary fs-10 ps-lg-3 border-start-lg fw-bold mb-md-0 mb-0">08:21 PM</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row justify-content-between align-items-md-center hover-actions-trigger btn-reveal-trigger border-translucent py-3 gx-0 border-top">
                <div class="col-12 col-lg-auto flex-1">
                  <div data-todo-offcanvas-toogle="data-todo-offcanvas-toogle" data-todo-offcanvas-target="todoOffcanvas-5">
                    <div class="form-check mb-1 mb-md-0 d-flex align-items-center lh-1"><input class="form-check-input flex-shrink-0 form-check-line-through mt-0 me-2 form-check-input-undefined" type="checkbox" id="checkbox-todo-4" checked="checked" /><label class="form-check-label mb-0 fs-8 me-2 line-clamp-1" for="checkbox-todo-4">Analytics and consultancy for data</label></div>
                  </div>
                </div>
                <div class="col-12 col-lg-auto">
                  <div class="d-flex ms-4 lh-1 align-items-center">
                    <p class="text-body-tertiary fs-10 mb-md-0 me-2 me-lg-3 mb-0">21 Oct, 2022</p>
                    <div class="d-none d-lg-block end-0 position-absolute" style="top: 23%;">
                      <div class="hover-actions end-0"><button class="btn btn-phoenix-secondary btn-icon me-1 fs-10 text-body px-0 me-1"><span class="fas fa-edit"></span></button><button class="btn btn-phoenix-secondary btn-icon fs-10 text-danger px-0"><span class="fas fa-trash"></span></button></div>
                    </div>
                    <div class="hover-lg-hide">
                      <p class="text-body-tertiary fs-10 ps-lg-3 border-start-lg fw-bold mb-md-0 mb-0">03:45 PM</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row justify-content-between align-items-md-center hover-actions-trigger btn-reveal-trigger border-translucent py-3 gx-0 border-top">
                <div class="col-12 col-lg-auto flex-1">
                  <div data-todo-offcanvas-toogle="data-todo-offcanvas-toogle" data-todo-offcanvas-target="todoOffcanvas-6">
                    <div class="form-check mb-1 mb-md-0 d-flex align-items-center lh-1"><input class="form-check-input flex-shrink-0 form-check-line-through mt-0 me-2 form-check-input-undefined" type="checkbox" id="checkbox-todo-5" checked="checked" /><label class="form-check-label mb-0 fs-8 me-2 line-clamp-1" for="checkbox-todo-5">Planning your locations Customer data platform</label></div>
                  </div>
                </div>
                <div class="col-12 col-lg-auto">
                  <div class="d-flex ms-4 lh-1 align-items-center">
                    <p class="text-body-tertiary fs-10 mb-md-0 me-2 me-lg-3 mb-0">14 Oct, 2022</p>
                    <div class="d-none d-lg-block end-0 position-absolute" style="top: 23%;">
                      <div class="hover-actions end-0"><button class="btn btn-phoenix-secondary btn-icon me-1 fs-10 text-body px-0 me-1"><span class="fas fa-edit"></span></button><button class="btn btn-phoenix-secondary btn-icon fs-10 text-danger px-0"><span class="fas fa-trash"></span></button></div>
                    </div>
                    <div class="hover-lg-hide">
                      <p class="text-body-tertiary fs-10 ps-lg-3 border-start-lg fw-bold mb-md-0 mb-0">10:00 PM</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row justify-content-between align-items-md-center hover-actions-trigger btn-reveal-trigger border-translucent py-3 gx-0 border-top">
                <div class="col-12 col-lg-auto flex-1">
                  <div data-todo-offcanvas-toogle="data-todo-offcanvas-toogle" data-todo-offcanvas-target="todoOffcanvas-7">
                    <div class="form-check mb-1 mb-md-0 d-flex align-items-center lh-1"><input class="form-check-input flex-shrink-0 form-check-line-through mt-0 me-2 form-check-input-undefined" type="checkbox" id="checkbox-todo-6" checked="checked" /><label class="form-check-label mb-0 fs-8 me-2 line-clamp-1" for="checkbox-todo-6">Promotion of technology</label></div>
                  </div>
                </div>
                <div class="col-12 col-lg-auto">
                  <div class="d-flex ms-4 lh-1 align-items-center">
                    <p class="text-body-tertiary fs-10 mb-md-0 me-2 me-lg-3 mb-0">12 Oct, 2022</p>
                    <div class="d-none d-lg-block end-0 position-absolute" style="top: 23%;">
                      <div class="hover-actions end-0"><button class="btn btn-phoenix-secondary btn-icon me-1 fs-10 text-body px-0 me-1"><span class="fas fa-edit"></span></button><button class="btn btn-phoenix-secondary btn-icon fs-10 text-danger px-0"><span class="fas fa-trash"></span></button></div>
                    </div>
                    <div class="hover-lg-hide">
                      <p class="text-body-tertiary fs-10 ps-lg-3 border-start-lg fw-bold mb-md-0 mb-0">02:00 AM</p>
                    </div>
                  </div>
                </div>
              </div><a class="fw-bold fs-9 mt-4" href="#!"><span class="fas fa-plus me-1"></span>Add new task</a>
            </div>



          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="footer position-absolute">
    <div class="row g-0 justify-content-between align-items-center h-100">
      <div class="col-12 col-sm-auto text-center">
        <p class="mb-0 mt-2 mt-sm-0 text-body">Thank you for creating with Phoenix<span class="d-none d-sm-inline-block"></span><span class="d-none d-sm-inline-block mx-1">|</span><br class="d-sm-none" />2023 &copy;<a class="mx-1" href="https://themewagon.com/">Themewagon</a></p>
      </div>
      <div class="col-12 col-sm-auto text-center">
        <p class="mb-0 text-body-tertiary text-opacity-85">v1.14.0</p>
      </div>
    </div>
  </footer>
</div>
